* {
  box-sizing: border-box;
}

/* Create two equal columns next to each other */
.LeftColumn {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;  Only demonstration */
}
.RightColumn {
  float: left;
  width: 50%;
  padding: 10px;
  /*height: 300px;  Only demonstration */
}

/* Clear floats after columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Responsive layout - makes the RightColumn stack on top of LeftColumn  */
@media screen and (max-width: 600px) {
  .RightColumn {
    width: 100%;
  }
}
